body {
    font-family: 'Roboto', 'Arial';
    background-color: rgb(153, 218, 240);
    font-weight: 300;
    justify-content: center;
    text-align:center;
    margin-top: 100px;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}

button {
    border: none;
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 7px;
    cursor: pointer;
}

button:hover{
    background-color: brown;
}



